.badge {
    text-align: center;
    margin-right: 4px;
    padding: 8px 12px;
    border-radius: 0.25rem;
}

.badge.alert {
    background-color: var(--lwc-colorBackgroundDestructive);
    color: var(--lwc-colorTextInverse);
    border: solid 1px var(--lwc-colorBackgroundDestructive);
}

.badge.normal {
    background-color: #00716b;
    color: var(--lwc-colorTextInverse);
    border: solid 1px #00716b;
}

.badge.warning {
    background-color: #f28c00;
    color: var(--lwc-colorTextInverse);
    border: solid 1px #f28c00;
}

.days {
    font-size: 28px;
    line-height: 28px;
    font-weight: 300;
}

.bar {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    height: 32px;
    transition: all 0.5s ease-in-out;
    position: absolute;
    left: 2px;
}

.bar.normal {
    background-color: #00716b;
}

.bar.warning {
    background-color: #f28c00;
}

.bar.alert {
    background-color: var(--lwc-colorBackgroundDestructive);
}

.axis {
    font-weight: 200;
}

.axis > div {
    height: 34px;
    border-bottom: solid 1px rgb(216, 221, 230);
    border-left: solid 1px rgb(216, 221, 230);
}

.axis .legend {
    margin-top: 36px;
}
