.tile {
    position: relative;
    height: 220px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.lower-third {
    position: absolute;
    /* @sldsValidatorIgnore */
    bottom: 0;
    /* @sldsValidatorIgnore */
    left: 0;
    /* @sldsValidatorIgnore */
    right: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 6px var(--lwc-varSpacingXSmall, 0.5rem);
}

.lower-third > p {
    /* @sldsValidatorIgnore */
    padding: 0;
    /* @sldsValidatorIgnore */
    margin: 0;
}

.lower-third h1 {
    /* @sldsValidatorIgnore */
    font-size: 16px !important;
}

.truncate {
    /* @sldsValidatorIgnore */
    white-space: nowrap;
    overflow: hidden;
    /* @sldsValidatorIgnore */
    text-overflow: ellipsis;
}
