.tile {
    position: relative;
    height: 220px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.lower-third {
    position: absolute;
    bottom: var(--lwc-spacingNone, 0);
    left: var(--lwc-spacingNone, 0);
    right: var(--lwc-spacingNone, 0);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 6px var(--lwc-varSpacingXSmall, 0.5rem);
}

.lower-third > p {
    padding: var(--lwc-spacingNone, 0);
    margin: var(--lwc-spacingNone, 0);
}

.lower-third h1 {
    font-size: var(--lwc-fontSize5, 1rem) !important;
}

.truncate {
    /* @sldsValidatorIgnore */
    white-space: nowrap;
    overflow: hidden;
    /* @sldsValidatorIgnore */
    text-overflow: ellipsis;
}
